
@{
    ViewData["Title"] = "About";
}

<style>
    .row {
        margin: 20px;
    }

    #about, #gettingStarted {
        margin: 0 auto;
        text-align: center;
    }
</style>

<div class="row">
    <div class="col-sm-8" id="about">
        <div class="jumbotron">
            <h2 class="display-3">Background</h2>
            <hr class="my-4">
            <p class="lead">Rubrical was created to simplify rubric creation for teachers.</p>
            <p>Forgo the ways of taking out the pen and paper to judge how you'll critique a certain assignment. These digital creations are here to stay, and can be expanded upon in the future.</p>
            <hr class="my-4">
            <p class="lead">Rubrics can be shared with others, and edited to your liking!</p>
            <p>Don't be shy; send your rubrics to fellow teachers that show an interest. See one you like? Copy it and make custom modifications!</p>
            <hr class="my-4">
            <p>Created by Petar Gligic, a soon-to-be software developer graduate located near Toronto.</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-8" id="gettingStarted">
        <div class="jumbotron">
            <h2 class="display-3">Getting Started</h2>
            <hr class="my-4">
            <p class="lead">Register a free account to unlock your full potential.</p>
            <p class="lead">Create your first rubric! Be as creative as possible.</p>
            <p class="lead">Check out our community rubrics, showcasing all publicly created rubrics.</p>
            <p class="lead">Vote on your favourites, copy one or two and edit them however you'd like.</p>
        </div>
    </div>
</div>

