@{
    ViewData["Title"] = "Home Page";
}

<style>
    /*.jumbotron {
        color: white;
        background-image: url("https://i.imgur.com/Nn84o68.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    h1, p {
        text-shadow: 3px 3px black;
    }*/
</style>
<script>
    //$(".jumbotron").css({ height: $(window).height() + "px" });

    //$(window).on("resize", function () {
    //    $(".jumbotron").css({ height: $(window).height() + "px" });
    //});
</script>

<div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
        <h1 class="display-4">Welcome to Rubrical</h1>
        <p class="lead">Rubrical is a free, easy-to-use website that aims to bring teachers together. Creating rubrics shouldn't be a chore!</p>
    </div>
</div>