@model Rubrical.RubricModels.RubricIndexViewModel

@{
    ViewData["Title"] = "My Rubrics";
}

<style>
    #rating {
        float: right;
    }
</style>

<h1>My Rubrics</h1>

<div class="row">
    @foreach (var rubric in Model.Rubrics)
    {
        <div class="col-sm-6">
            <div class="card border-info">
                <div class="card-body">
                    <p id="rating">Rating: @rubric.TotalRating</p>
                    <h5 class="card-title">@rubric.Title</h5>
                    <p class="card-text">@(rubric.Description == null ? "No description." : rubric.Description)</p>
                    <a href="/Rubric/RubricView?rubricId=@rubric.Id" class="btn btn-primary">View Rubric</a>
                </div>
            </div>
        </div>
    }
</div>

